body {
  background-color: black;
  color: white;
  font-family: 'Libre Baskerville', serif;
  
  margin: 0;
  padding-top: 100px; 
}

.poster-container {
  width: 50%;
  margin-left: 25%; 
  text-align: center;
}

.poster-img {
  width: 100%;
  border: 5px solid white;
}

h1 {
  text-transform: uppercase; 
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}